/*列表上方操作按钮区域*/
.table-operator {
  /* margin-bottom: 18px;  */
  display: flex;
}
.table-operator .ant-alert-info {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  font-size: 12px;
  margin: 8px 8px 0 0;
  display: inline-block;
}
.table-operator .ant-alert {
  padding: 5px 15px;
}
