[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=space
indent_size=2

[{*.ng,*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=2

[{*.m,*.xslt,*.xul,*.rng,*.xsl,*.xsd,*.ant,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl}]
inde_style=space
inde_size=2

[{.babrc,.stylelintrc,jest.config,.eslintrc,.prettierrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
inde_style=space
innt_size=2

[*.s]
inde_style=space
inde_size=2

[*.jmap]
indenttyle=space
inde_size=2

[*ess]
inde_style=space
inde_size=2

[*.v]
innt_style=space
innt_size=2

[{.alysis_options,*.yml,*.yaml}]
inde_style=space
inde_size=2



